/* src/Pages/Eventos.css */

/* Hero específico de Eventos */
.eventos-fondo {
  height: 45vh; /* ajusta altura imagen */
  
}

.content-eventos-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 110px;
}

.eventos-fondo .background-image {
  opacity: 0.8; /* transparencia de la imagen */
  filter: brightness(.2);
}

/*textos del hero */
.content-eventos-content h1 {
  font-size: 2.8rem;
  color: #d3a33c; /* color del texto */
}

.content-eventos-content p {
  font-size: 1.4rem;
  font-weight: bold;
  color: #d3a33c; /* color del texto */
  margin: 5px;
}

/* separación bajo el hero */
.eventos-contact {
  margin-top: 1rem;
}
.fondo.eventos-fondo{
  height: 90vh;
}

@media (max-width: 700px) {
  #eventos_text_1 {
  font-size: 2.3rem;
  text-align: center;
  
}

#eventos_text_2 {
  font-size: 1.2rem;
  text-align: center;
  margin: 0px;
}

.content-eventos-content p{
  margin-top: 0px;
}

.fondo.eventos-fondo{
  height: 80vh;
}
}