.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f4f8;
  }
  
  .form {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 72%;
    align-items: center;
  }
  
  .title {
    text-align: center;
    margin-bottom: 0px;
    color: #333;
  }
  
  .input {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    width: 93%;
  }
  
  .btn {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%;
  }
  
  .btn:hover {
    background: #45a049;
  }
  

  .Logo {
    /* width: 100px; */
    height: 90px;
    display: block;
    object-fit: contain;
    
  }

  .a_logo{
    margin: 0 auto;

  }


  .signup_button{
    background-color: #928e84;
    color: rgb(247, 247, 247);
    border: none;
    padding: 0.50rem;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    width: 40%;
    max-width: 300px;
    transition: background-color 0.1s ease-in;
  }


  .signup_button:hover{
    background-color: #817d73;
  }