/* Tienda.css */

.tienda {
  position: relative;
  overflow: hidden;
  font-family: "Rubik", sans-serif;
  min-height: 100vh;
  padding-bottom: 1rem;
  z-index: 1;
}

.tienda::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../assets/Fondo_Tienda1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: brightness(0.3) opacity(0.6);
  z-index: -2;
}

/* Contenedor general */
.tienda-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 3rem auto 0;
  background-color: #b28e6d;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  justify-content: center;
  filter: opacity(0.99);
  position:relative;
  z-index: -1;
 
  
}

/* Título principal */
.titulo-tienda {
  font-size: 3rem;
  font-weight: bold;
  color: #fff6da;
  text-align: center;
  margin-top: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

/* Panel izquierdo: Categorías */
.categorias {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 200px;
  flex-shrink: 0;
  margin-top: 1em;
  box-shadow: 0px 0px 3px rgb(0, 0, 0);
  padding: 1rem;
  border-radius: 10px;
  background-color: #f2d2b4;
}

.titulo-categorias {
  font-size: 1.5rem;
  color: #4a3c31;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.categorias button {
  background-color: #c59d48;
  border: none;
  padding: 0.7rem;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.3s ease;
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.categorias button:hover {
  background-color: #e4b454;
  transform: translateY(-2px);
}

.categorias .activo {
  background-color: #f3af1e;
  color: white;
}

/* Panel derecho: Productos */
.productos-container {
  z-index: 1;
  flex-grow: 1;
  margin-top: 0rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.productos1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 3em;
  width: 80%;
}

.producto-card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff8f0;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 350px;
  
 
}

.producto-card:hover {
  transform: scale(1.03);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.producto-imagen {
  width: 100%;
  height: 180px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.producto-card:hover .producto-imagen {
  transform: scale(1.05);
}

.producto-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.producto-info h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #412f21;
}

.descripcion {
  font-size: 0.95rem;
  color: #000000;
  margin: 0.5rem 0;
}

.precio {
  font-weight: bold;
  font-size: 1rem;
  color: #8b5e3c;
}
.etiqueta-promocion {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 0.9rem;
  z-index: 10;
}



.btn-agregar {
  background-color: #35801f;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-agregar:hover {
  background-color: #4fbd2e;
}

/* Notificación */
.notificacion-agregado {
  position: fixed;
  top: 18px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  font-weight: bold;
  animation: fadein 0.3s, fadeout 0.3s 1.7s;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

/* Responsive para pantallas  mas pequeñas 1360px */
@media (max-width: 1360px) {
  .tienda-container {
    flex-direction:row;
    padding: 1.5rem;
    margin:1rem;
  }

  .titulo-tienda {
    font-size: 2.5rem;
  }

  .titulo-categorias {
    font-size: 1.4rem;
  }

  .categorias {
    width: 200px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
  }

  .categorias button {
    font-size: 1.1rem;
    padding: 0.8rem 0.8rem;
    flex: 0 1 auto;
  }
  .productos1{
    margin-left: 3rem;
    margin-right: -1rem;
  }
  .producto-card{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 450px;
    max-height: 450px;

  }
  .producto-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
}
/* Responsive para tablets (hasta 1024px) */
@media (max-width: 1024px) {
  .tienda-container {
    flex-direction: column;
    padding: 1.5rem;
  }

  .titulo-tienda {
    font-size: 2.2rem;
  }

  .titulo-categorias {
    font-size: 1.2rem;
  }
.categorias {
  display: flex; /* <- ESTA ES LA CLAVE */
  flex-direction: row;
  overflow-x: auto;
  justify-content: space-evenly;
  padding: 0.6rem;
  gap: 0.6rem;
  width: 99%;
  flex-wrap: nowrap;
  margin-left: -0.4rem;
}

  .categorias::-webkit-scrollbar {
    height: 6px;
  }

  .categorias::-webkit-scrollbar-thumb {
    background-color: #c59d48;
    border-radius: 4px;
  }

  .categorias button {
    font-size: 0.75rem;
    padding: 0.5rem 0.2rem;
    border-radius: 6px;
    flex:0;
    white-space: normal;
    min-width: 90px;
    text-align: center;
    
  }

  .productos1 {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .producto-card {
   min-height: 400px;
    max-height: 400px;
    

  }
  .producto-info h3 {
    font-size: 1.05rem;
  }

  .descripcion,
  .precio {
    font-size: 0.9rem;
  }
}

/* Responsive para móviles (hasta 768px) */
@media (max-width: 768px) {
  .tienda-container {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    margin:0.5rem;
  }

  .titulo-tienda {
    font-size: 1.8rem;
    text-align: center;
  }

.categorias {
  display: flex; /* <- ESTA ES LA CLAVE */
  flex-direction: row;
  overflow-x: auto;
  justify-content: flex-start;
  padding: 0.4rem;
  gap: 0.6rem;
  width: 100%;
  flex-wrap: nowrap;
  margin-left: -0.4rem;
}

  .categorias::-webkit-scrollbar {
    height: 6px;
  }

  .categorias::-webkit-scrollbar-thumb {
    background-color: #c59d48;
    border-radius: 4px;
  }

  .categorias button {
    font-size: 0.75rem;
    padding: 0.5rem 0.2rem;
    border-radius: 6px;
    flex:0;
    white-space: normal;
    min-width: 90px;
    text-align: center;
    
  }

  .productos1 {
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;
    height:300%;
    margin:auto 0 1rem;
  }

  .producto-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 170px;
    max-height: 170px;

  }

  .producto-imagen {
    height: 100%;
    width: 50%;
    object-fit: repeat;
  }
  .producto-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 45%;
    min-height: 170px;
    max-height: 170px;
  }

  .producto-info h3 {
    font-size: 1rem;
  }

  .descripcion {
    font-size: 0.85rem;
  }

  .precio {
    font-size: 0.9rem;
  }

  .btn-agregar {
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
  }
}
