/* src/components/header.css */
/* ==== Topbar ==== */
.topbar {
  width: 100%;
  background: rgba(32, 32, 32, 0.5);
  color: #ffffff;
  text-align: center;
  padding: 1px 0;
  font-size: 11px;
  font-family: "Rubik", sans-serif;
}

.topbar a {
  color: #bd9938;
  font-weight: 500;
  text-decoration: underline;
}

/* ==== Header Principal ==== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 3vw; /* Usa porcentaje para mantener margen en pantallas grandes y chicas */
  background: rgba(41, 41, 41, 0.5);
  backdrop-filter: blur(8px);
  width: 100%;
  box-sizing: border-box;
}

/* ==== Logo ==== */
.logo {
  height: 60px;
  object-fit: contain;
}

/* ==== Navegación ==== */
.header_options {
  
  display: none;
  gap: 20px;

}

.header_options.activo{
  display: flex;
  gap: 20px;
}

.header_options a {
  color: #d3a72e;
  text-decoration: none;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  transition: color 0.3s ease;
}

.header_options a:hover {
  color: #ffffff;
}

/* ==== Botón Iniciar Sesión ==== */
.login-btn {
  background-color: #cfa6349c;
  color: #dad8d8;
  padding: 9px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
  white-space: nowrap; /* Evita que se corte en pantallas chicas */
  cursor: pointer;
  border: none;
}

.login-btn:hover {
  background-color: #1e1d1d1a;
  transform: scale(1.05);
}
.carrito-btn{
  background-color: #cfa6349c;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.4rem 0.8rem;
  border: none;
  transition: 0.3s ease;
}
.carrito-btn:active{
  background-color: #1e1d1d1a;
  transform: scale(1.05);
}

.carrito-btn:hover{
  background-color: #cfa6349c;
}

.carrito-popup {
  position: absolute;
  top: 90px;
  right: 20px;
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ccc;
  padding: 15px;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 8px;
}

.carrito-item {
  margin-bottom: 10px;
  
}

.carrito-controles {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 4px;
  text-decoration: none;
  
}

.carrito-controles button {
  padding: 4px 8px;
  background-color: #da9f32;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.4rem 0.8rem;
  border: none;
  
  
}

.btn_login_carrito_container{
  display: flex;
  align-items: center;
  gap:20px;
}





.menu-lateral {
  position: fixed;
  top: 0;
  right: 0px;
  width: 260px;
  height: 100vh;
  background-color: rgb(221, 221, 221);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: right 0.3s ease;
  /* animation: slideIn 0.3s ease forwards; */
}

.menu-lateral-oculto{
  position: fixed;
  top: 0;
  right: -300px;
  width: 260px;
  height: 100vh;
  background-color: rgb(221, 221, 221);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 15;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: right 0.3s ease;
}

/* @keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
} */



.menu-lateral ul {
  list-style: none;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.menu-lateral li button {
  background-color: #a57c30;
  color: rgb(255, 255, 255);
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-align: left;
  transition: background-color 0.3s;
  width: 100%;
  text-align:justify;
}

.menu-lateral-oculto li button {
  background-color: #a57c30;
  color: rgb(255, 255, 255);
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-align: left;
  transition: background-color 0.3s;
  width: 100%;
  text-align:justify;
}

.menu-lateral li button:hover {
  background-color: #fca543;
}
.menu-lateral li{
  background-color: rgb(221, 221, 221);
  border: none;
  margin-bottom: 5px;
}

.cerrar-menu {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.3s ease;
}
.cerrar-menu:hover {
  background-color: #c29929;
}

.drop_down_menu_button{
  display: none;

}

.drop_down_menu_button:hover{
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}


.drop_down_menu_button_with_user{
  display: none;
}

.nav_container_menu_lateral{
  overflow: hidden;
  width: 100%;
  border-radius: 5px;
}

.header_options_menu_lateral{
 display: flex;
  flex-direction: column;
 height: 100%;
 justify-content: space-evenly;
 position: relative;
 z-index: 500;
 background-color: grey;
 border-radius: 5px;
}


.header_options_menu_lateral a{
  text-decoration: none;      
  height: 40px;
  color: #d3a72e;
  text-decoration: none;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  background-color: rgb(49, 49, 49);
  transition: color 0.3s ease;
  padding: 18px 0px 2px 15px ; 
}


.header_options_menu_lateral a:hover{
  color: white;
}

.logout_button_header{

  background-color: #a57c30d0;
  color: rgba(255, 255, 255, 0.842);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-align: left;

}

.logout_button_header:hover{
  background-color: #a57c30d0;
}

/* ==== Responsivo para pantallas chicas ==== */
@media (max-width: 800px) {

    .header_options{
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;
      position: relative;
      z-index: 500;
    }

    .header_options a{
      height: 20px;
      text-align: center;
      position: relative;
      z-index: 550;
      
      /* border-bottom: 1px solid black; */
    }

    .header_options.activo{
      display: none;
    }

    .nav_container{
      position: absolute;
      right: 0px;
      top: 78px;
      height: 0px;
      padding: 0px 0px;
      overflow: hidden;
      transition: height 0.5s ease;
      width: 100vw;
      z-index: 999;
      border-top: 1px solid black;
      background-color: rgba(22, 22, 22, 0.973);
      backdrop-filter: blur(10px);
      z-index: 600;
    
    }

    .nav_container.visible{
      height: 60vh;
      padding: 10px 0px;
      border-bottom: 1px solid rgba(20, 20, 20, 0.466);

      }

    .drop_down_menu_button{
      display: block;
      background-color: rgba(0, 0, 0, 0);
      border: none;
      font-size: 30px;
      color: #dfaf2c;
    }

    .drop_down_menu_button_with_user{
      display: block;
      background-color: rgba(0, 0, 0, 0);
      border: none;
      font-size: 16px;
      color: white;
      background-color: #cfa6349c;
      padding: 8px;
      border-radius: 7px;
      transition: background 0.2s ease, transform 0.2s ease;
      cursor: pointer;
      position:absolute;
      z-index: 700;
      left: 45vw;
      
    }

    .drop_down_menu_button_with_user:active{
      background-color: #cfa63400;
      transform: scale(1.05);
    }

    .drop_down_menu_button_with_user:hover{
      background-color: #cfa6349c;
    }

    
}

@media (max-width: 600px){
  .drop_down_menu_button_with_user{
    left: 43%;
  }
}